<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>${rootArtifactId}</servlet-name>
		<servlet-class>com.ibm.websphere.jaxrs.server.IBMRestServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>${package}.JaxRsActivator</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>${rootArtifactId}</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.sadad.web.filter.CORSFilter</filter-class>
		<init-param>
			<param-name>CORSOriginHeader</param-name>
			<param-value>*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.sadad.web.filter.Utf8CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	  <!-- <filter>
            <filter-name>OAuth2Filter</filter-name>
            <filter-class>ir.bmi.identity.security.filter.OAuth2Filter</filter-class>
        <async-supported>true</async-supported>
    </filter> -->
    <!-- <filter-mapping>
        <filter-name>OAuth2Filter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping> -->
	
	<!-- <filter>
		<filter-name>oauth2Filter</filter-name>
		<filter-class>com.sadad.security.oauth2.filter.Oauth2Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>oauth2Filter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping> -->


	<!-- <security-constraint>
		<display-name>REST API</display-name>
		<web-resource-collection>
			<web-resource-name>REST API</web-resource-name>
			<description />
			<url-pattern>/rest/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>RESTAPIRole</role-name>
		</auth-constraint>
	</security-constraint> -->


</web-app>